In [1]:
question1='Is your birthday in set1?\n'+\
    '1 3 5 7\n'+\
    '9 11 13 15\n'+\
    '17 19 21 23\n'+\
    '25 27 29 31\n'+\
    '\n Enter 1 for Yes and 0 for No:'
print(question1)

Is your birthday in set1?
1 3 5 7
9 11 13 15
17 19 21 23
25 27 29 31

 Enter 1 for Yes and 0 for No:

In [2]:
print('Hello,world')
print('Hello',end='')
print('world')
s='Hello'+\
 'world'
print(s)

Hello,world
Helloworld
Helloworld

In [3]:
8/3

2.6666666666666665

In [4]:
8//3

2

In [5]:
8**2

64

In [6]:
100**0.5

10.0

In [7]:
8%3

2

In [8]:
i=100
j=100
k=100
print(i,j,k)

100 100 100

In [9]:
i=j=k=200
print(i,j,k)

200 200 200

In [10]:
a,b=100,200
print(a,b)

100 200

In [11]:
a=100
b=200
a=b
b=a
print(a,b)

200 200

In [12]:
a=100
b=200
temp=a
a=b
b=temp
print(a,b)

200 100

In [13]:
a=100
b=200
a,b=b,a
print(a,b)

200 100

In [14]:
a=10
a+=2
print(a)

12

In [15]:
a*=5
print(a)

60

In [16]:
a//=3
print(a)

20

In [17]:
a%=6
print(a)

2

In [18]:
k=eval(input())

3

In [19]:
k

3

In [20]:
print(k)

3

In [21]:
s=eval(input('Please enter an integer:'))

Please enter an integer:45

In [22]:
s

45

In [23]:
s2=input('Please enter a string:')

Please enter a string:hello,world

In [24]:
s2

'hello,world'

In [25]:
str2=input('Please enter a integer:')

Please enter a integer:88

In [26]:
print(str2)

88

##

In [27]:
str2

'88'

In [28]:
str2=eval(input('Please enter an integer'))

Please enter an integer88

In [29]:
num=str2+100
print(num)

188

In [30]:
num1=eval(input('Please enter number1:'))

Please enter number1:100

In [31]:
num2=eval(input('Please enter number2:'))

Please enter number2:200

In [32]:
print(num1+num2)

300

In [35]:
num1,num2,num3=eval(input('Enter three numbers separated by commas:'))
total=num1+num2+num3
average=total/3
print('total=%d,and average = %f'%(total,average))

Enter three numbers separated by commas:100,150,170
total=420,and average = 140.000000